.scroll {
    width: 100%; }
    .scroll .items-container {
      height: 80vh;
      overflow: hidden;
      scroll-behavior: smooth;
      background: whitesmoke;
      margin-bottom: 16px; }
      .scroll .items-container .item {
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px; }
  